@charset "UTF-8";
/*
 body, h1,h3, h4, h5, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
img {
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 10px;
  font-size: 1.0rem;
  color: #000;
  background-color: #fff;
  line-height: 2;
  height: 100%;
  width: 100%;
}*/

---------------------





h1 {
  color:blue;
}

h2 {
position:absolute;
color:white;
padding-left: 60px;
margin-bottom: 50px;
}

.Tori {
    width:10px;
    height:10px;
}
/*body {
  background-color: #3366FF;
  position: absolute;
  width:100%;

}

.Form {
/*  position:absolute;*/

/*  background-color: white;

}*/






